.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--slack-color);
  color: white;
  /* height: 25px; */
  padding: 8px 0px 8px 0px;
  border-bottom: 0.5px solid lightgray;
}

.headerLeft {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  width: 30%;
}

.headerLeft > .MuiSvgIcon-root {
  height: 15px;
  margin-right: 5px;
}

.headerSearch {
  min-width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

.headerSearch > input {
  color: white;
  border: none;
  padding: 0%;
  background: rgba(255, 255, 255, 0);
  outline: 0px;
}
.headerSearch > .MuiSvgIcon-root {
  height: 0.8rem;
}
input::placeholder {
  color: white;
  font-size: 80%;
}

.headerRight {
  display: flex;
  justify-content: end;
  width: 45%;
  display: flex;
  align-items: center;
}

.headerRight > .MuiAvatar-root {
  height: 15px;
  width: 15px;
}
.headerRight > .MuiSvgIcon-root {
  height: 15px;
  width: 15px;
  margin-right: 0.8vw;
}

.search{
  position: absolute;
  top: 20px;
  left: 300px;
  z-index: 565;
  background-color: aqua;
}