.loginContainer {

    box-sizing: border-box;
    width: 50vw;
    height: auto;
    padding: 25px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    background-color:  white;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
    border: 1px solid gray;
}



.loginContainer > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 30px;
}

.loginContainer > p{
    font-size: small;
}

.loginContainer > button{
    margin-top: 40px;
    background-color:green !important;
    color: white;
    border: none;
    padding: 5px;
}